.menu-up
{
	background-color: #333545;
	position: fixed;
	width: 100%;
	height: 90px;
	z-index: 10;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
	transition: width 0.5s, height 0.5s;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.menu-up .grand-ecran
{
	height: 100%
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu-up .grand-ecran .element.gros
{
	min-width: 40%;
}

.menu-up .grand-ecran .banniere_babtouland
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.menu-up .grand-ecran .banniere_babtouland .colonne
{
	width: auto;
}

.menu-up .grand-ecran .banniere_babtouland .logo_babtouland
{
	max-height: 90px;
	max-width: 90px;
}

.menu-up .grand-ecran .banniere_babtouland h1
{
	color: rgb(64, 80, 142);
	font-size: 54px;
	font-family: sans-serif;
}

.menu-up .grand-ecran .element
{
	text-align: center;
}

.menu-up .grand-ecran .element a, .menu-up .petit-ecran .lien a
{
	text-decoration: none;
	color: white;
}

.menu-up .grand-ecran .element a:hover, .menu-up .petit-ecran .lien a:hover
{
	opacity: 0.6;
}

.menu-up .grand-ecran .element img
{
	max-height: 100%;
	max-width: 100%;
	border-radius: 100%;
}

.menu-up .grand-ecran .element .avatar img
{
	border-radius: 100%;
	height: 50px;
}

.menu-up .petit-ecran
{
	display: none;
}

@media screen and (max-width: 1200px)
{
	
	.menu-up .banniere_babtouland
	{
		visibility: hidden;
		width: 0;
	}

	.menu-up .grand-ecran .lien
	{

		margin-left: 30px;

	}

}

@media screen and (max-width: 600px)
{
	.menu-up
	{
		width: 0;
		height: 0;
		z-index: 10;
		transition: width 0.5s, height 0.5s;
	}

	.menu-up .grand-ecran
	{
		display: none;
	}

	.menu-up .petit-ecran
	{
		display: block;
		z-index: 10;
		transition: width 0.5s, height 0.5s;
	}

	.menu-up .petit-ecran .petit-ecran-menu
	{
		top: 0px;
		left: 0px;
		padding-top: 20px;
		padding-left: 20px;
		position: fixed;
		z-index: 11;
		background-color: #333545;
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
		line-height: 40px;
		padding-bottom: 10px;
		width: 50px;
	}

	.menu-up .petit-ecran a
	{
		text-decoration: none
		margin-bottom: 20px;;
		color: white;
	}

	.menu-up .petit-ecran .lien
	{
		top: 70px;
		left: 0px;
		padding-left: 20px;
		padding-top: 20px;
		position: fixed;
		transition: height 0.75s, width 0.5s;
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
		z-index: 12;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: #333545;
		width: 50px;
	}

	.menu-up .petit-ecran .lien a
	{
		text-decoration: none;
		color: white;
		margin-bottom: 20px;
	}

	.menu-up .petit-ecran .lien a:hover
	{
		opacity: 0.6;
	}

}

@media screen and (max-height: 500px)
{
	.menu-up
	{
		width: 0;
		height: 0;/* 60px */
		z-index: 10;
		transition: width 0.5s, height 0.5s;
	}

	.menu-up .conteneur
	{
		width: 50px;
		left: 12.5px;
		top: 20px;
		z-index: 10;
	}

	.menu-up .grand-ecran
	{
		display: none;
	}

	.menu-up .petit-ecran
	{
		display: block;
		z-index: 10;
		transition: width 0.5s, height 0.5s;
	}

	.menu-up .petit-ecran .petit-ecran-menu
	{
		top: 0px;
		left: 0px;
		padding-top: 20px;
		padding-left: 20px;
		position: fixed;
		z-index: 11;
		background-color: #333545;
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
		line-height: 40px;
		padding-bottom: 10px;
		width: 50px;
	}

	.menu-up .petit-ecran a
	{
		text-decoration: none;
		color: white;
	}

	.menu-up .petit-ecran .lien
	{
		top: 70px;
		left: 0px;
		padding-left: 20px;
		padding-top: 20px;
		position: fixed;
		transition: height 0.75s, width 0.5s;
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
		z-index: 12;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: #333545;
		width: 50px;
	}

	.menu-up .petit-ecran .lien a
	{
		text-decoration: none;
		color: white;
		margin-bottom: 20px;
	}

	.menu-up .petit-ecran .lien a:hover
	{
		opacity: 0.6;
	}

}