.succes.notification, .attention.notification, .erreur.notification
{
	z-index: 99999;
	position: fixed;
	font-size: 24px;
	width: 100%;
	height: 200%;
	padding-top: 300px;
	padding-left: 5%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25), -4px 4px 8px rgba(0, 0, 0, 0.25);
}

.succes.notification #content, .attention.notification #content, .erreur.notification #content
{
	width: 90%;
	left: 5%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25), -4px 4px 8px rgba(0, 0, 0, 0.25);
	text-align: center;
}

.succes.notification #content a, .attention.notification #content a, .erreur.notification #content a
{
	text-decoration: none;
}

.erreur.notification #content
{
	background-color: #F2DEDE;
	color: #A94442;
}

.erreur.notification #content a
{
	color: #A96334;
}

.attention.notification #content
{
	background-color: #F2EADE;
	color: #A97F42;
}

.attention.notification #content a
{
	color: #A99234;
}

.succes.notification #content
{
	background-color: #DFF0D8;
	color: #3C763D;
}

.succes.notification #content a
{
	color: #2B542C;
}